
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
    list-style: none;
    text-decoration: none;
    

}
:root {
    --main-color:rgb(248, 232, 217);
    --second-color:rgb(252, 231 , 216);
    --text-color: rgb(255,210,210);
    --bg-color:rgb(253,57,8);
    --ma-color: rgb(252, 196, 124);
    
}

.headerbar{
    display: none;
}
.searchicon{
    display: block;
}


menu img{
    width: 25px;
    
}

.logo img {
    width:40px ;
    border-radius: 50%;
    margin-left: 35px;
}



.bar{
    display: none;
    
}

.bar img{
    width: 20px;
    
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    padding: 35px;
    background-color:var(--main-color);
    border-bottom: 2px solid var(--ma-color) ;
    box-shadow: 0 2px 20px rgb(253, 124, 124);
}

.header ul{
    display: flex;
    align-items: center;
    list-style: none;
}


.header ul li a:hover {
 color:var(--bg-color) ;
}

.header ul li:hover {
    color:var(--bg-color) ;
   }
    
.nav ul li a {
    padding: 0 15px;
    font-size: 15px;
    font-weight: bold;
    

}

.activ{
    color: var(--bg-color);
}

.accont{
    flex: 0.1;
}
  
.accont ul {
display: flex;
justify-content: end;
}

.accont ul li {
    padding: 0 15px;
    font-size:18px ;
}

.accont img{
    width: 20px;
}

.bar:hover{
    color:var(--bg-color) ;
}

.search{
    display: none;
    width: 200px;
    justify-content: center;
}

.search input{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 9px ;
}

.searchicon{
    background-color:var(--text-color) ;
    display: block;
    padding:  4px 2px ;
    cursor: pointer;
}

.headerbar  img{
    width: 20px;
}

.home{
    background-color: var(--main-color);
    padding: 0 7vw;
  
    
}


.main-slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    
}



.main-slide > div{
    width: calc(90%/2);
    padding-top: 20px;
    font-size:30px ;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding-top: 40px;
    margin: 30px;
    font-size: 40px;
}



.main-slide p{
    font-size: 16px;
    padding: 20px 0;
}

.main-slide span{
    color: var(--bg-color);
    text-decoration: underline;
    text-underline-offset: 10px ;
    text-decoration-color: rgb(253, 176, 34) ;
}

.red-btn{
    cursor: pointer;
    margin-top: 2opx;
    width: 160px;
    font-weight: bold;
    color: aliceblue;
    line-height: 50px;
    background-color:var(--bg-color) ;
    border-radius: 5px;
    border: 1px solid var(--bg-color) ;
    box-shadow: 0 10px 15px rgb(250, 120, 69);
    transition: all 0.2s;
}

.red-btn:hover{
    background-color:white ;
    box-shadow:0 2px 15px rgb(250, 120, 69) ;
    border: 1px solid var(--bg-color) ;
    color: var(--bg-color);
}

.scrool{
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color: aliceblue;
    background-color:var(--bg-color) ;
    border-radius: 50%;
    border: 1px solid white ;
    transition: all 0.2s;
    right:  90%;
}



.home img{
    width: 100%;
    
}

.About{
    margin: 80px 0;
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-between;
    align-items: center;

}

.abutimg{
    flex: 0.5;
}

.abutimg img{
    max-width: 500px;
    width: 45vw;
}
.question1{
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
}

.question1 h1{
    margin: 30px;
    font-size: 2.8rem;
}
 .question1 p{
    font-size: 0.938rem;
    margin: 0.5rem 0 2.9rem;
    
}

.About div{
    width: calc(90%/2);
    padding-top: 20px;
    font-size:30px ;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding-top: 40px;
    margin: 30px;
    font-size: 40px;
}

.About span{
    color: var(--bg-color);
}


.food-items{
     margin: 70px 0;
    padding: 20px 0;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.About .red-btn{
    
        cursor: pointer;
        margin-top: 2opx;
        width: 160px;
        font-weight: bold;
        color: aliceblue;
        line-height: 50px;
        background-color:var(--bg-color) ;
        border-radius: 5px;
        border: 1px solid var(--bg-color) ;
        box-shadow: 0 10px 15px rgb(250, 120, 69);
        transition: all 0.2s;
}

.item{
    width: 250px;
    padding: 30px;
    text-align: center;
}

.item div {
    height: 160px;
}

.item img{
    width: 190px;
    margin-bottom: 15px;
}

.item  .m{
    margin-top: -30px;
}

.item p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.white{
    cursor: pointer;
    margin-top: 20px;
    width: 120px;
    font-weight: bold;
    color: var(--bg-color);
    line-height: 50px;
    border: 1px solid var(--bg-color);
    background-color:white ;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgb(250, 120, 69);
    transition: all 0.2s;
}

.white:hover{
    background-color:var(--bg-color) ;
    box-shadow:0 10px 15px rgb(250, 120, 69) ;
    border: 1px solid var(--bg-color) ;
    color: white;
}
    


.item .white, .item .red-btn{
    width: 120px;
    line-height:35px ;
}

.main-slide2{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.foodimg{
    flex: 0.5;
}

.foodimg img{
    max-width: 500px;
    width: 45vw;
}

.question{
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
}

.question h2{
    font-size:35px ;
    margin-bottom:15px ;
}

.q-ans{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15p 0;
    cursor: pointer;
    margin: 10px;
    
    
}

.q-ans img{
    width: 90px;
    border-radius: 50%;
    align-items: center;
    background-color: white;
    margin-right: 20px;
    padding: 15px 0;
    cursor: pointer;
    padding: 10px;
    height: 65px;
    text-align: center;
    background-color: white;
    margin-right: 20px;
}

.q-ans  h4{
    display: flex;
    flex-direction: column;
}

.q-ans  p {
margin-top: 10px;
font-size: 15px;
}

.main-slide3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.main-slide3 .fav-head{
    text-align: center;
    width: 450px;
    margin-bottom: 20px;
}

.main-slide3 .fav-head h3{
    font-size: 30px;
    padding:20px 0 ;
}

.main-slide3 .fav-head p{
    font-size: 13px;
    text-align: center;
}

.main-slide3 .fav-food{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.main-slide3 .fav-food .item{
    background-color: white;
    border-radius: 5px;
    margin-bottom:30px ;
    box-shadow: 0 2px 10px rgb(119, 119, 119,0.438);
    width: 220px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}

.main-slide3 .fav-food .item div{
    height: 160px;
    margin-bottom: 15px;
}

.main-slide3 .fav-food .item img{
    width: 160px;
    margin-bottom: 15px ;
}
.main-slide3 .fav-price{
    color: var(--bg-color);
    font-weight: bold;
    font-size: 15px;
}

.main-slide3 .dsgn{
    background-color: var(--ma-color);
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 10px;
}

.main-slide4{
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
   
}

.main-slide4 .chef-fead{
    flex: 0.5;
    margin-top: -100px;
}

.main-slide4 .chef{
    flex: 0.5;
    text-align: right;
    margin: -120px;
}

.main-slide4 .chef img{
    margin-top: 30px;
    width: 50vw;
    max-width: 490px;
}



.main-slide4 .chef-fead h2{
    font-size: 32px;
    margin-bottom: 25px;
}


.main-slide4 .chef-fead p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}

.main-slide4 .chef-detail{
    margin-top: 20px;
    display: flex;
    margin: 25px 0;
    align-items: center;
}

.main-slide4 .chef-detail img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;

}

.main-slide4 .chef-mo h6{
    font-size: 15px;
}

.main-slide4 .chef-mo  p{
    font-size: 11px;
    color: red;
}

.main-slide4 .cherf-vic{
    display: flex;
    align-items: center;
    padding: 25px 20px;
    background-color: rgb(255,219,185);
    border-radius: 0 100px 0 0;
    margin-top: 40px;
    width: 100%;
    
}

.main-slide4 .cherf-vic div {
    margin: 10px;
}

.main-slide4 .cherf-vic div h4{
color: var(--bg-color);
}

.main-slide4 .cherf-vic div p{
font-size: 11px;
padding-top: 8px;
line-height: 13px;
}

.letter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    
    
}

.letter-hea{
flex: 0.5;

}

.letter-hea h2{
    font-size: 30px;
}

.letter-hea span{
    color: var(--bg-color);
}

.letter-input{
    width:100% ;
    margin-top: 20px;
    display: flex;
    flex: 0.5;
}

.letter-input div{
    width: 70%;
    display: flex;
    align-items: center;
    background-color:  rgb(255,219,185);
}

.letter-input input{
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: none;
    background-color:  rgb(255,219,185);

}

.letter-input .red-btn{
    margin: 0;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0 18px 0;

}

.footer{
    padding: 60px 0;
    border-top: 2px solid  rgb(252,184,107); 
    background-color: rgb(252, 222, 195);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer-1 .logo img {
    width: 200px;
   
}

.footer-1 p{
    cursor: pointer;
    font-size: 14px;
    padding: 2px;
    color: rgb(255, 137, 2);
    text-align: center;
    align-items: center;
}

.footer-2{
    background-color: rgb(252, 222, 195);;
    padding: 20px 0;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.footer-2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.contact{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    margin: 10px;
}

.contact div{
    width: calc(95/2);
    margin: 20px;
}

.contact .info h2{
    color: var(--bg-color);
    margin: 10px;
    font-weight: bold;
}
.contact .info p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}


.contact .form{
display: flex;
flex-wrap:wrap;
    justify-content: space-evenly;
}

.contact .form div{
    width: 45%;
    
}

.address p {
    margin-top: 5px;
}

.address p img{
    cursor: pointer;
    margin-bottom: -5px;
    width: 20px;
    color: aliceblue;
    line-height: 20px;
    background-color:var(--bg-color) ;
    border-radius: 70%;
    border: 1px solid var(--bg-color) ;
    box-shadow: 0 10px 15px rgb(250, 120, 69);
    transition: all 0.2s;
}

.address p img:hover{
    color: var(--bg-color); ;
    border: 1px solid var(--bg-color) ;
    color: white;
}




@media only screen and (max-width: 760px){
    .header .nav,.header .accont ,.headerbar .accont{
        display: none;
    }
    .search{
        width: 60vw;
    }
    .bar{
        display:block ;
        cursor: pointer;
    }

    .bar img {
        width: 20px;
        
    }
    
    .headerbar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        bottom: 0;
        transition: all 0.5s;
        background-color: var(--second-color);
    }
    .headerbar .accont, .headerbar .nav{
        display: block;
        font-size: 18px;
    }
    .bar {
        display: block;
        top: 20px;
        right:5w ;
        position: absolute;
    }
    .headerbar .nav ul{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    .headerbar .nav li{
        width: 96vw;
        margin: 10px 0;
        padding: 15px 30px;
        box-shadow: 0 2px 15px rgb(252, 193, 169);
        font-size: 15px;
        margin-top: 5px;
    }
    .headerbar .accont {
        line-height:40px ;
        margin-top:60px ;
        background-color:rgb(252, 210, 182) ;
        padding: 15px;
    }

    .headerbar .accont ul{
        justify-content: space-between;
    }

    .foodimg{
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }
    .foodimg .img{
        width: 70vw;
    }
    .question{
        flex: 1;
        margin-top: 30px;
    }

    .question h2{
        font-size: 25px;
    }

    .q-ans p {
        font-size: 11px;
    }

    .abutimg{
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }
    .abutimg .img{
        width: 70vw;
    }
    .question1{
        flex: 1;
        margin-top: 30px;
    }

    .question1 h1{
        text-align: center;
        font-size: 25px;
    }

    .question1 p {
        font-size: 11px;
        text-align: center;
        
    }
    
    .main-slide3{
        margin-top: 100px;
    }

    .main-slide3 .dsgn{
        height: 60%;
    }

    .main-slide3 .fav-head{
        width: 80%;
        margin-bottom:20px ;
    }
    
    .main-slide4{
        margin-top: 150px;
    }

    .main-slide4 .chef-fead{
        flex: 1;
    }

    .main-slide4 .chef{
        flex: 1;
        text-align: center;
        margin-bottom: 40px;
    }

    .main-slide4 .chef img {
        width: 80vw;
    }
    
    .letter-hea h2{
        font-size: 20px;
    }

    .letter-input input{
        font-size: 12px;
        padding: 15px;
        width: 50vw;
    }
    .letter-input .red-btn{
        line-height: 40px;
        width: 120px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 550px){
    .main-slide > div{
font-size: 18px;
    }
    .main-slide p{
        padding-top:5px ;
        margin: 10px 0;
        font-size:11px ;
    }
    .red-btn{
        margin-top: 10px;
        width: 120px;
        line-height: 30px;
        font-size: 12px;
        padding: 0 10px;
    }
    .main-slide span{
        text-underline-offset: 5px;
    }
    .main-slide img{
        width: 70vw;
    }
    
    .main-slide3 .fav-head{
        width: 100%;
    }

    .main-slide3 .fav-head h3{
        font-size: 25px;
    }

    .main-slide3 .fav-head p{
        font-size: 11px;
    }

    .main-slide3 .dsgn{
        display: none;
    }

    .main-slide4 .cherf-vic div p{
        display: none;
    }
    .letter{
        justify-content:center ;
    }
    .letter-hea{
        flex: 1;
        text-align: center;
    }

            


}

